.frame{
  width: 500px;
}

.component{
  display: block;
  border-radius: 4px;
}

.component .component:hover{
  cursor: pointer;
  outline: 0.15em solid #5066e8;
}
.component .component .component:hover{
  outline: 0.15em dashed #5066e8;
}

.docs{
  display: flex;
  justify-content: center;
  padding: 8px 0;
}