.title{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.subtitle{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.1em;
}

.page{
  aspect-ratio: 210 / 297;
  border-radius: 0.1em;
  width: 100%;
  page-break-after: always;
  padding: 2.5em;
  outline: 0.15em solid black;
  overflow: hidden;
}

.doc-info{
  margin: 0.4em 0 0.8em;
  padding: 1.4em 0.1em 0.6em;
  border-top: 0.15em solid black;
  border-bottom: 0.15em solid black;
  display: flex;
  flex-direction: column;
}

.paragrah{
  text-align: justify;
  font-weight: 500;
  text-indent: 1.2em;
  font-size: 0.6em;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.text{
  text-align: center;
  font-weight: 500;
  font-size: 0.1em;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.separator, .separator-center{
  margin: 0.2em 0;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.exercises{
  margin: 8px 0 16px;
}

.question{
  padding-right: 16px;
  margin: 0;
}

.question__alternatives{
  list-style: none;
  margin: 4px 0 0;
  padding: 0 0 0 24px;
}

.question__alternatives li{
  margin: 2px 0;
}

.question__image{
  padding-right: 24px;
}

.small-chart, .medium-chart{
    /* scale: 1/1; */
    width: 150px;
    margin: 0 0 4px;
}

.small-chart{
  width: 90px;
}