.title{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.subtitle{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.page{
  aspect-ratio: 210 / 297;
  width: 450px;
  page-break-after: always;
  padding: 32px;
  outline: 2px solid black;
}

.doc-info{
  margin: 8px 0;
  padding: 20px 16px 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
}

.paragrah{
  text-align: justify;
  font-weight: 500;
  text-indent: 20px;
  font-size: 10px;
  margin-bottom: 6px;
  margin-top: 0;
}

.text{
  text-align: center;
  font-weight: 500;
  font-size: 9px;
  margin-bottom: 6px;
  margin-top: 0;
}

.separator, .separator-center{
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.text{
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: 0;
}

.exercises{
  margin: 16px 0;
}

.question{
  padding-right: 16px;
  margin: 0;
}

.question__alternatives{
  list-style: none;
  margin: 4px 0 0;
  padding: 0 0 0 24px;
}

.question__alternatives li{
  margin: 2px 0;
}

.question__image{
  padding-right: 24px;
}

.small-chart, .medium-chart{
    /* scale: 1/1; */
    width: 150px;
    margin: 0 0 4px;
}

.small-chart{
  width: 90px;
}